 *{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
   }

   body{
    background-color:#EAE3D2;
    
    font-family: 'Montserrat', sans-serif
   }

   .header{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: #607EAA;
   
   }
   .header h1, .top-buttons{
    padding: 5vmin ;
    font-family: 'Merriweather', serif;
   }

   .title{
    background-color: #1C3879;
    color: white;
    text-align: center;
    width: 100%;

   }

   input{
        width: 80%;
        height: 20px;
        border: 2px solid;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 5px;
        padding: 1.5vmin;
   }

   label,
   .submit-button{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        padding: 20px 0px 5px;
   }

   .submit-button{
      width: 150px;
   }

   button {
       font-family: 'Montserrat', sans-serif
   }

   #addNewBook,
   #resetBooks,
   #formSubmit,
   .removeButton {
       flex-grow: 1;
       text-align: center;
       margin: 1vmin;
       padding: 1.5vmin 1rem;
       border-radius: 8px;
       border: 2px solid #000000;
       cursor: pointer;
   }

   #addNewBook:hover,
   #resetBooks:hover
   {
    background-color:#EAE3D2;
   }


  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100vmin;
    margin: auto;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
        }
    
   .card {
    margin: 1.5vmin;
    text-align: center;
    width: 30vmin;
    background-color: #F7ECDE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    border-radius: 5px;
        }
    
   .card:hover {
    box-shadow: 0px 0px 5px 5px rgba(61, 61, 61, 0.438);
        }

   .card h2 {
      font-size: 2.8rem;
      font-family: 'Sacramento', cursive;
      padding-top: 30px;
    }
        
   .card h3 {
      font-size: 1.3rem;
            
    }
   .card p {
      font-size: 1rem;
      padding: 10px 0px 5px;
    }

   /* The popup form - hidden by default */
   .form-popup {
       display: none;
       position: fixed;
       left: 50%;
       top: 60%;
       transform: translate(-50%, -50%);
       z-index: 9;
   }

   /* Add styles to the form container */
   .form-container {
       width: 300px;
       padding: 10px;
       background-color: rgba(255, 255, 255, 0.9);
   }

  
   /* Set a style for the submit/login button */
   .form-container .btn {
       background-color: #607EAA;
       color: #ffffff;
   }

   /* Add a red background color to the cancel button */
   .form-container .cancel {
       background-color: red;
   }

   /* Add some hover effects to buttons */
   .form-container .btn:hover,
   .open-button:hover {
       opacity: 0.9;
       background-color: #607EAA;
   }

   .removeButton {
    background-color: rgba(151, 23, 23, 0.733);
       color: white;
       transition-duration: 0.4s;
       margin: 25px 0px 30px;

   }
   .removeButton:hover {
       background-color: rgba(151, 23, 23, 0.521);
       color: white;
   }

 