 *{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
   }

   body{
    background-color:#EAE3D2;
    
    font-family: 'Montserrat', sans-serif
   }
   
   h1, h2, h3, h4, p{
    font-family: 'Merriweather', serif;
   }

   .header{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: #607EAA;
   
   }
   .header h1, .top-buttons{
    padding: 5vmin ;
   }

   .title{
    background-color: #1C3879;
    color: white;
    text-align: center;
    width: 100%;

   }

   input{
        width: 80%;
        height: 20px;
        border: 2px solid;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 5px;
        padding: 1.5vmin;
   }

   label,
   .submit-button{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        padding: 20px 0px 5px;
   }

   .submit-button{
      width: 150px;
   }

   button {
       font-family: 'Montserrat', sans-serif
   }

   #addNewBook,
   #resetBooks,
   #formSubmit {
       flex-grow: 1;
       text-align: center;
       margin: 1vmin;
       padding: 1.5vmin 1rem;
       border-radius: 8px;
       border: 2px solid #000000;
       cursor: pointer;
   }

   #addNewBook:hover,
   #resetBooks:hover
   {
    background-color:#EAE3D2;
   }

   /* The popup form - hidden by default */
   .form-popup {
       display: none;
       position: fixed;
       left: 50%;
       top: 60%;
       transform: translate(-50%, -50%);
       z-index: 9;
   }

   /* Add styles to the form container */
   .form-container {
       width: 300px;
       padding: 10px;
       background-color: rgba(255, 255, 255, 0.9);
   }

  
   /* Set a style for the submit/login button */
   .form-container .btn {
       background-color: #607EAA;
       color: #ffffff;
   }

   /* Add a red background color to the cancel button */
   .form-container .cancel {
       background-color: red;
   }

   /* Add some hover effects to buttons */
   .form-container .btn:hover,
   .open-button:hover {
       opacity: 0.9;
       background-color: #607EAA;
   }

   .removeButton {
       background-color: gray;
       color: white;
       width: 10vmin;
       height: 4vmin;
       transition-duration: 0.4s;

   }
   .removeButton:hover {
       background-color: rgba(151, 23, 23, 0.733);
       color: white;
   }

 