 *{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
   }

   body{
    background-color:#EAE3D2;
    
    font-family: 'Montserrat', sans-serif
   }
   
   h1, h2, h3, h4, p{
    font-family: 'Merriweather', serif;
   }

   .header{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: #607EAA;
   
   }
   .header h1, .top-buttons{
    padding: 5vmin ;
   }

   .title{
    background-color: #1C3879;
    color: white;
    text-align: center;
    width: 100%;

   }

   input{
        width: 80%;
        height: 20px;
        border: 2px solid;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 5px;
        padding: 1.5vmin;
   }

   label,
   .submit-button{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        padding: 20px 0px 5px;
   }

   .submit-button{
      width: 150px;
   }

   button {
       font-family: 'Montserrat', sans-serif
   }

   #addNewBook,
   #resetBooks,
   #submitBook {
       flex-grow: 1;
       text-align: center;
       margin: 1vmin;
       padding: 1.5vmin 1rem;
       border-radius: 8px;
       border: 2px solid #000000;
       cursor: pointer;
   }

   #addNewBook:hover,
   #resetBooks:hover,
   #submitBook:hover{
    background-color:#EAE3D2;
   }

   /* The popup form - hidden by default */
   .form-popup {
       display: none;
       position: fixed;
       left: 50%;
       top: 60%;
       transform: translate(-50%, -50%);
       z-index: 9;
   }